<%= form_tag('/top/show', method: :get) do %>
<input class="search__query" name="keyword_kamoku" placeholder="科目名で検索" type="text" value=""><br>

<select name="day">
<option >指定なし</option>
<option value="月" >月</option>
<option value="火" >火</option>
<option value="水" >水</option>
<option value="木" >木</option>
<option value="金" >金</option>
<option value="金" >土</option>
</select>曜日<br>

<select name="jigen">
<option >指定なし</option>
<option value="指定なし" ></option>
<option value="１" >１</option>
<option value="２" >２</option>
<option value="３" >３</option>
<option value="４" >４</option>
<option value="５" >５</option>
<option value="６" >６</option>
</select>時限目<br>


<input class="search__query" name="keyword_kyouin" placeholder="先生の名前で検索" type="text" value=""><button class="btn-search" title="検索" type="submit">SEARCH<i class="icon-search"></i></button></input><br>
<% end %>
人気の授業一覧
<% @units.each do |unit| %>
<br><br>
<%= unit.kyouin %>先生<br>
<%= unit.jigen.delete("[青山]").delete("年").delete("期") %>期科目 <br>
<%= unit.kaikou %>学部科目<br>
<%= unit.kamoku %> <br>
<%= unit.year %>年度<br>
<%= link_to "show detail","reviews/#{unit.id}",method: :get %>
<br><br>
<% end %>
<%= paginate(@units)%>