<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap.min.css" />
</head>



<%= form_tag('/top/show', method: :get) do %>
<div class="form-group col-xs-8 ">
    <label class="control-label" for="usage1select2">学部で絞る</label>
    <select class="form-control" id="usage1select2" name="kaikou">
      <option>経済</option>
      <option>国際政治経済</option>
      <option>総合文化政策</option>
      <option>青山スタンダード</option>
   </select>
</div>


<form class="navbar-form " role="search">
  <div class="form-group  col-xs-10">
    <input type="text" class="form-control" placeholder="先生の名前で絞る" name="keyword_kyouin">
  </div>
  <br>
   <div class="form-group col-xs-10">
    <input type="text" class="form-control" placeholder="科目の名前で絞る" name="keyword_kamoku">
  </div>


<div class="form-group col-xs-5">
    <label class="control-label" for="usage1select2">曜日で絞る</label>
    <select class="form-control" id="usage1select2" name="day">
      <option>月</option>
      <option>火</option>
      <option>水</option>
      <option>木</option>
      <option>金</option>
      <option>土</option>
      <option>指定しない</option>
    </select>
  </div>

  <div class="form-group col-xs-5">
    <label class="control-label" for="usage1select2">時限で絞る</label>
    <select class="form-control" id="usage1select2" name="jigen">
      <option>１</option>
      <option>２</option>
      <option>３</option>
      <option>４</option>
      <option>５</option>
      <option>６</option>
      <option>指定しない</option>
   </select>
  </div>
  </div>
<br><Br><br><Br><br><br><Br><br><Br><br><br><Br>
  <button type="submit" class="btn btn-default center-block">Serach!</button>
</form>
<br>

<% end %>


<!-- <br><br><br><Br><Br><Br><Br><Br><br> -->
<% @units.each do |unit| %>




<div class="panel panel-success">
  <div class="panel-heading">
    <%= unit.kyouin %>先生&nbsp;&nbsp;
<%= unit.jigen.delete("[青山]").delete("年").delete("期")%>期科目 &nbsp;&nbsp;
<%= unit.kaikou.delete("学部").delete("山").delete("ンダード科目") %>学部科目<br>
  </div>
  <div class="panel-title">
<%= unit.kamoku.delete("(再履修者用)") %> <br>
<%= unit.year %>年度&nbsp;&nbsp;
投稿済みレビュー数:<%= unit.reviews.count %>件<br></div>
<center>

<%= content_tag(:a,'ShowDetail',:href=>"/reviews/#{unit.id}",:class=>'btn btn-primary',:role=>'button')%>
</div>
</center>

<br><br>
<% end %>
<%= paginate(@units)%>