<% @reviews.each do |review| %><br>
<br>
-------------------------------<br>
<%= review.user.nickname %>さんの投稿<br>
授業満足度：<%= review.satisfaction %><br>
授業内容:<%= review.content%><br>
取得成績：<%= review.gpa %><br>
評価・テスト情報:<%= review.test %>
<br>
-------------------------------<br>
<%end%>

<div class="contents row">
  <%= form_tag('/reviews', method: :post) do %>
    <h3>
      レビューを投稿しよう
    </h3>
    <textarea cols="30" name="content" placeholder="授業の内容についての情報。" rows="10"></textarea>
    <textarea cols="30" name="test" placeholder="テストや評価に関する情報。" rows="10"></textarea>
    <input type="submit" value="SUBMIT!">
  <% end %>
</div>