<!DOCTYPE html>
<html>
<head>
  <title>Aguweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bootstrap.min.css" />
</head>
<body>
<header class="application">
<Div Align="left">
<%= image_tag 'aguweb.png' %>
</Div>

<Div Align="right">
<% if user_signed_in? %>
<h4>
<%=link_to 'logout',destroy_user_session_path,method: :delete %>&nbsp;&nbsp;/
<%=link_to 'index',top_index_path,method: :get%>&nbsp;&nbsp;&nbsp;
</h4>
<%end%>
</Div>


</header>
<%= yield %>
</body>
</html>
